# C extensions
*.so

# Virtual environment
venv/
.env/
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# celery beat schedule file
celerybeat-schedule

# dotenv
.env.local
.env.*.local
.env

# IDEs and editors
.vscode/

# macOS
.DS_Store

# cache
__pycache__/
*.pyc

debug_captures_pipeline/
debug_captures/
debug_captures_grid/
debug_captures_pipeline/
